name: Create Pull Request on Master when pushing to Stage
on:
  push:
    branches:
    - stage
jobs:
  create_master_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 
      with:
        ref: master 
    - name: Reset PR branch
      run: |
        git fetch origin stage:stage
        git reset --hard stage
    - uses: peter-evans/create-pull-request@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        base: master
        title: Update Master
        body: |-
          # Update master branch
          this PR was automatically created and will be merged automatically if the following is fulfilled: 
          - checks have finished successfully
          - someone gave a positive review 
          - a `no-merge` label is not present on the PR
