---
##
# peter-evans/create-pull-request expects the base to be the branch checked out by the checkout action.
# actions/checkout by default checks out the branch being pushed, but in this case the base.
# So if we check out master and then reset it to stage to pull in the latest changes, to be then picked up by create-pull-request.
#
##
name: Create Pull Request on Master when pushing to Stage
on:
  push:
    branches: [stage]
jobs:
  create_master_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Checkout base branch
      with:
        ref: master
    - name: Pull in changes from `stage`
      run: |-
        git fetch origin stage:stage
        git reset --hard stage
    - uses: peter-evans/create-pull-request@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        title: Update Master
        branch: update-master-from-stage
        reviewers: ${{ github.event.push.pusher.name }}
        body: |-
          # Update master branch
          this PR was automatically created and will be merged automatically if the following is fulfilled:
          - checks have finished successfully
          - someone gave a positive review
          - a `no-merge` label is not present on the PR
