name: Demo building of Pull Requests from external contributors
on:
  push:
    branches-ignore: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - run: |-
        echo "Running tests"...
        sleep 10
        echo "Done"
    
